body{
    margin: 0;
}
h1{
    width: 100%;
    text-align: center;
    margin: 0%;
}
.Hero{
    width: 100%;
}
.box{
    margin: -6;
}
p{
    text-align: center;
    margin: 0;
    background-color: grey;
}
.desk{
    border-radius: 50%;
    border-style: solid;
    border-color: rgb(54, 54, 54);
    border-width: 40px ;
    width: 15%;
}
.graphic{
    border-radius: 50%;
    border-style: solid;
    border-color: rgb(54, 54, 54);
    border-width: 40px ;
    width: 15%;
}
.person{
    border-radius: 50%;
    border-style: solid;
    border-color: rgb(54, 54, 54);
    border-width: 40px ;
    width: 15%;
}